@page
@model Yonkoma.Pages.MangaPages.SoloLevelingPageModel
@{
}
<form method="post">
    <div id="content_title">
        <h3>Поднятие уровня в одиночку</h3>
        <h6>Na Honjaman Lebel-eob / Solo Leveling</h6>

    </div>

    <div id="container_content">
        <div class="manga_image">
            <div class="image">
                <img style="width: 250px; height: 350px; border: 0; border-radius: 10px;" src="~/image/solo.jpg">
            </div>
            <div class="manga_buttons">
                <a asp-area="" asp-page="/Index"><input type="submit" name="otpr" value="Изменить" class="butd1"></a>
            </div>
        </div>
        <div class="manga_info">
            <div class="info_list_row">
                 <strong>Тип</strong>
                 <span>Манхва</span>
            </div>
            <div class="info_list_row">
                <strong>Дата релиза</strong>
                <span>2018</span>
            </div>
            <div class="info_list_row">
                <strong>Статус перевода</strong>
                <span>Продолжается</span>
            </div>
            <div class="info_list_row">
                <strong>Рейтинг</strong>
                <span>16+</span>
            </div>
            <div class="info_list_row">
                <strong>Жанры</strong>
                <span>Боевик фентези</span>
            </div>
            <div align="justify">
                <strong>Описание</strong><br />
                <span>
                    10 лет назад, после того, как «Врата», соединившие реальный мир с параллельным, открылись, некоторые из людей получили силу охотиться на монстров внутри "Врат".Они известны как «Охотники». Однако не все Охотники сильные. Меня зовут Сон Джин Ву - охотник E-ранга. Я тот, кто рискует своей жизнью в самых низких уровнях подземелья. Не имея никаких сверхсильных навыков, я едва зарабатывал необходимые деньги, сражаясь в низкоуровневых подземельях ...
                </span>
            </div>
        </div>
        <div class="manga_chapters_title"><strong>Список глав</strong></div>
        <div class="manga_chapters">
            <a href="#" class="chapters_list_row">Tom 2. Глава 129</a><br />
            <a href="#" class="chapters_list_row">Tom 2. Глава 128</a><br />
            <a href="#" class="chapters_list_row">Tom 2. Глава 127</a><br />
            <a href="#" class="chapters_list_row">Tom 2. Глава 126</a><br />
            <a href="#" class="chapters_list_row">Tom 2. Глава 125</a><br />
            <a href="#" class="chapters_list_row">Tom 2. Глава 124</a><br />
            <a href="#" class="chapters_list_row">Tom 2. Глава 123</a><br />
            <a href="#" class="chapters_list_row">Tom 2. Глава 122</a><br />
            <a href="#" class="chapters_list_row">Tom 2. Глава 121</a><br />
            <a href="#" class="chapters_list_row">Tom 2. Глава 120</a><br />




        </div>
    </div>
</form>