@page
@model Yonkoma.Pages.Manhva1Model
@{
    ViewData["Title"] = "Yonkoma";
}

<div id="hello">
    <div class="img11">
        <img style="width: 150px; height: 200px; border: 0; border-radius: 10px;" src="~/image/solo.jpg">
        <a class="light" href="~/MangaPages/SoloLevelingPage"><p style="text-align:center;">Solo leveling</p></a>
    </div>
    <div class="img12">
        <img style="width: 150px; height: 200px; border: 0; border-radius: 10px;" src="~/image/sistema.jpg">
        <a class="light" href="#"><p style="text-align:center;">Столичная система</p></a>
    </div>
    <div class="img13">
        <img style="width: 150px; height: 200px; border: 0; border-radius: 10px;" src="~/image/THEPN.jpg">
        <a class="light" href="#"><p style="text-align:center;">Обещанный Неверленд</p></a>
    </div>
    <div class="img14">
        <img style="width: 150px; height: 200px; border: 0; border-radius: 10px;" src="~/image/THEPN.jpg">
        <a class="light" href="#"><p style="text-align:center;">Обещанный Неверленд</p></a>
    </div>
    <div class="img21">
        <img style="width: 150px; height: 200px; border: 0; border-radius: 10px;" src="~/image/THEPN.jpg">
        <a class="light" href="#"><p style="text-align:center;">Обещанный Неверленд</p></a>
    </div>
    <div class="img22">
        <img style="width: 150px; height: 200px; border: 0; border-radius: 10px;" src="~/image/THEPN.jpg">
        <a class="light" href="#"><p style="text-align:center;">Обещанный Неверленд</p></a>
    </div>
    <div class="img23">
        <img style="width: 150px; height: 200px; border: 0; border-radius: 10px;" src="~/image/THEPN.jpg">
        <a class="light" href="#"><p style="text-align:center;">Обещанный Неверленд</p></a>
    </div>
    <div class="img24">
        <img style="width: 150px; height: 200px; border: 0; border-radius: 10px;" src="~/image/THEPN.jpg">
        <a class="light" href="#"><p style="text-align:center;">Обещанный Неверленд</p></a>
    </div>
    <div class="img31">
        <img style="width: 150px; height: 200px; border: 0; border-radius: 10px;" src="~/image/THEPN.jpg">
        <a class="light" href="#"><p style="text-align:center;">Обещанный Неверленд</p></a>
    </div>
    <div class="img32">
        <img style="width: 150px; height: 200px; border: 0; border-radius: 10px;" src="~/image/THEPN.jpg">
        <a class="light" href="#"><p style="text-align:center;">Обещанный Неверленд</p></a>
    </div>
    <div class="img33">
        <img style="width: 150px; height: 200px; border: 0; border-radius: 10px;" src="~/image/THEPN.jpg">
        <a class="light" href="#"><p style="text-align:center;">Обещанный Неверленд</p></a>
    </div>
    <div class="img34">
        <img style="width: 150px; height: 200px; border: 0; border-radius: 10px;" src="~/image/THEPN.jpg">
        <a class="light" href="#"><p style="text-align:center;">Обещанный Неверленд</p></a>
    </div>

    <div id="mangaright">
        <div id="mr1">

            <select>
                <option value="Выбор">Выберите жанр</option>
                <option value="Гарем">Гарем</option>
                <option value="Психология">Психология</option>
                <option value="Юри">Юри</option>
                <option value="Яой">Яой</option>

            </select>
        </div>
        <div id="mr1">
            <select>
                <option value="Выбор">Дата релиза</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>

            </select>
        </div>
        <div id="mr1">
            <select>
                <option value="Выбор">Возрастной рейтинг</option>
                <option value="16">16+</option>
                <option value="18">18+</option>
                <option value="Для всех возрастов">Для всех возрастов</option>
            </select>
        </div>
        <div id="mr1">
            <select>
                <option value="Выбор">Статус перевода</option>
                <option value="Продолжается">Продолжается</option>
                <option value="Заморожен">Заморожен</option>
                <option value="Завершен">Завершен</option>
                <option value="Заброшен">Заброшен</option>
            </select>
        </div>
    </div>
</div>