@page
@model Yonkoma.Pages.Account.RegistrModel

<form method="post">
    <div class="reblock">
        <div class="reblock1">
            <h2>Регистрация</h2>
            <hr />
        </div>
        <div class="rebblock">
            <label for="Login">Логин</label><br />
            <input class="in" type="text" name="Login" placeholder="Введите свой Логин" /><br /><br />

            <label for="Email">Email</label><br />
            <input class="in" type="text" name="Email" placeholder="Введите свой Email" /><br /><br />

            <label for="Password">Пароль</label><br />
            <input class="in" type="password" name="Password" placeholder="Введите свой Пароль" /><br /><br />
            
            <a asp-area="" asp-page="/Index"><input type="submit" name="otpr" value="Создать аккаунт" class="butd"></a>
        </div>
    </div>
</form>
<div class="reblval" asp-validation-summary="All"></div>